In [2]:
import pandas as pd
import numpy as np

In [2]:
# SERIES

In [3]:
#Creating an empty Series:
# Creating empty series
ser = pd.Series()
 
print(ser)

Series([], dtype: object)

In [4]:
#Creating a series from array with an index:
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

In [5]:
# providing an index
ser = pd.Series(data, index=[10, 11, 12, 13, 14])
print(ser)

10    g
11    e
12    e
13    k
14    s
dtype: object

In [6]:
#Creating a series from Lists:
# a simple list
list = ['g', 'e', 'e', 'k', 's']

In [7]:
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [8]:
#Creating a series from Dictionary:
# a simple dictionary
dict = {'Geeks': 10,
        'for': 20,
        'geeks': 30}

In [9]:
# create series from dictionary
ser = pd.Series(dict)
 
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [10]:
#Creating a series from Scalar value:
# giving a scalar value with index
ser = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
 
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [11]:
#DATAFRAMES

In [12]:
# Creating an empty dataframe : 
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
#Creating a dataframe using List:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is',
       'portal', 'for', 'Geeks']

In [14]:
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [15]:
#Creating DataFrame from dict of ndarray/lists: 
# initialise data of lists.
data = {'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age': [20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [16]:
#Create pandas dataframe from lists using dictionary: 
# dictionary of lists
dict = {'name': ["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score': [90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [17]:
#Viewing data

#HEAD

In [18]:
# making data frame
data = pd.read_csv("nba.csv")

data_top = data.head()
print(data_top)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [19]:
#TAIL
data = pd.read_csv("nba.csv") 

data_bottom = data.tail() 
print(data_bottom)

             Name       Team  Number Position   Age Height  Weight College  \
453  Shelvin Mack  Utah Jazz     8.0       PG  26.0    6-3   203.0  Butler
454     Raul Neto  Utah Jazz    25.0       PG  24.0    6-1   179.0     NaN
455  Tibor Pleiss  Utah Jazz    21.0        C  26.0    7-3   256.0     NaN
456   Jeff Withey  Utah Jazz    24.0        C  26.0    7-0   231.0  Kansas
457           NaN        NaN     NaN      NaN   NaN    NaN     NaN     NaN

        Salary
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

In [20]:
#DESCRIBE
data = pd.read_csv('nba.csv')
print(data.head())
   
print(data.describe())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0
           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [21]:
#Describe part 2
data = pd.read_csv('nba.csv')
 
# removing null values to avoid errors
data.dropna(inplace=True, how='any')

# percentile list
perc = [.20, .40, .60, .80]
 
# list of dtypes to include
include = ['object', 'float', 'int']
 
# calling describe method
print(data.describe(percentiles=perc, include=include))

                 Name                  Team      Number Position         Age  \
count             364                   364  364.000000      364  364.000000
unique            364                    30         NaN        5         NaN
top     Avery Bradley  New Orleans Pelicans         NaN       SG         NaN
freq                1                    16         NaN       87         NaN
mean              NaN                   NaN   16.829670      NaN   26.615385
std               NaN                   NaN   14.994162      NaN    4.233591
min               NaN                   NaN    0.000000      NaN   19.000000
20%               NaN                   NaN    4.000000      NaN   23.000000
40%               NaN                   NaN    9.000000      NaN   25.000000
50%               NaN                   NaN   12.000000      NaN   26.000000
60%               NaN                   NaN   17.000000      NaN   27.000000
80%               NaN                   NaN   30.000000      NaN   30.000000
max               NaN                   NaN   99.000000      NaN   40.000000

       Height      Weight   College        Salary
count     364  364.000000       364  3.640000e+02
unique     17         NaN       115           NaN
top       6-9         NaN  Kentucky           NaN
freq       49         NaN        22           NaN
mean      NaN  219.785714       NaN  4.620311e+06
std       NaN   24.793099       NaN  5.119716e+06
min       NaN  161.000000       NaN  5.572200e+04
20%       NaN  195.000000       NaN  9.472760e+05
40%       NaN  212.000000       NaN  1.638754e+06
50%       NaN  220.000000       NaN  2.515440e+06
60%       NaN  228.000000       NaN  3.429934e+06
80%       NaN  242.400000       NaN  7.838202e+06
max       NaN  279.000000       NaN  2.287500e+07

In [22]:
#Describe part 3
data = pd.read_csv("nba.csv")
#print(data.isna())
# removing null values to avoid errors
data.dropna(inplace=True)
 
# calling describe method
print(data["College"].describe())

count          364
unique         115
top       Kentucky
freq            22
Name: College, dtype: object

In [23]:
#DEALING WITH COLUMNS

In [24]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df.head())
# select two columns
print(df[['Name', 'Qualification']])

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [25]:
#Add column
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df.head())
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address

# Observe the result
print(df)

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc
     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [26]:
#Drop columns
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name" )
 
# dropping passed columns
data.drop(["Team", "Weight"], axis =1, inplace = True)
 
# display
print(data)

               Number Position   Age Height            College     Salary
Name
Avery Bradley     0.0       PG  25.0    6-2              Texas  7730337.0
Jae Crowder      99.0       SF  25.0    6-6          Marquette  6796117.0
John Holland     30.0       SG  27.0    6-5  Boston University        NaN
R.J. Hunter      28.0       SG  22.0    6-5      Georgia State  1148640.0
Jonas Jerebko     8.0       PF  29.0   6-10                NaN  5000000.0
...               ...      ...   ...    ...                ...        ...
Shelvin Mack      8.0       PG  26.0    6-3             Butler  2433333.0
Raul Neto        25.0       PG  24.0    6-1                NaN   900000.0
Tibor Pleiss     21.0        C  26.0    7-3                NaN  2900000.0
Jeff Withey      24.0        C  26.0    7-0             Kansas   947276.0
NaN               NaN      NaN   NaN    NaN                NaN        NaN

[458 rows x 6 columns]

In [27]:
#DEALING with rows

In [28]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")
 
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
 
 
print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [29]:
#Add row:
df = pd.read_csv("nba.csv", index_col ="Name")
print(df.head(10))

new_row = pd.DataFrame({'Name':'Geeks', 'Team':'Boston', 'Number':3,
                        'Position':'PG', 'Age':33, 'Height':'6-2',
                        'Weight':189, 'College':'MIT', 'Salary':99999},
                                                            index =['Name'])
# simply concatenate both dataframes
df = pd.concat([new_row, df]).reset_index(drop = True)
print(df.head(5))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson   Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk   Boston Celtics    41.0        C  25.0    7-0   238.0
Terry Rozier   Boston Celtics    12.0       PG  22.0    6-2   190.0
Marcus Smart   Boston Celtics    36.0       PG  22.0    6-4   220.0

                         College      Salary
Name
Avery Bradley              Texas   7730337.0
Jae Crowder            Marquette   6796117.0
John Holland   Boston University         NaN
R.J. Hunter        Georgia State   1148640.0
Jonas Jerebko                NaN   5000000.0
Amir Johnson                 NaN  12000000.0
Jordan Mickey                LSU   1170960.0
Kelly Olynyk             Gonzaga   2165160.0
Terry Rozier          Louisville   1824360.0
Marcus Smart      Oklahoma State   3431040.0
    Name            Team  Number Position   Age Height  Weight  \
0  Geeks          Boston     3.0       PG  33.0    6-2   189.0
1    NaN  Boston Celtics     0.0       PG  25.0    6-2   180.0
2    NaN  Boston Celtics    99.0       SF  25.0    6-6   235.0
3    NaN  Boston Celtics    30.0       SG  27.0    6-5   205.0
4    NaN  Boston Celtics    28.0       SG  22.0    6-5   185.0

             College     Salary
0                MIT    99999.0
1              Texas  7730337.0
2          Marquette  6796117.0
3  Boston University        NaN
4      Georgia State  1148640.0

In [30]:
#Delete row
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name" )
 
# dropping passed values
data.drop(["Avery Bradley", "John Holland", "R.J. Hunter",
                            "R.J. Hunter"], inplace = True)
 
# display
print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson   Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk   Boston Celtics    41.0        C  25.0    7-0   238.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                 College      Salary
Name
Jae Crowder    Marquette   6796117.0
Jonas Jerebko        NaN   5000000.0
Amir Johnson         NaN  12000000.0
Jordan Mickey        LSU   1170960.0
Kelly Olynyk     Gonzaga   2165160.0
...                  ...         ...
Shelvin Mack      Butler   2433333.0
Raul Neto            NaN    900000.0
Tibor Pleiss         NaN   2900000.0
Jeff Withey       Kansas    947276.0
NaN                  NaN         NaN

[455 rows x 8 columns]

In [31]:
# Multiple parameters
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Name") 
  
# retrieving rows by loc method 
rows = data.loc[["Avery Bradley", "R.J. Hunter"]] 
  
# checking data type of rows 
print(type(rows)) 
  
# display 
print(rows)

<class 'pandas.core.frame.DataFrame'>
                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [32]:
#Extracting multiple rows with same index
# making data frame from csv file 
data = pd.read_csv("nba.csv", index_col ="Team") 
  
# retrieving rows by loc method 
rows = data.loc["Utah Jazz"] 
  
# checking data type of rows 
print(type(rows)) 
  
# display 
print(rows)

<class 'pandas.core.frame.DataFrame'>
                     Name  Number Position   Age Height  Weight       College  \
Team
Utah Jazz   Trevor Booker    33.0       PF  28.0    6-8   228.0       Clemson
Utah Jazz      Trey Burke     3.0       PG  23.0    6-1   191.0      Michigan
Utah Jazz      Alec Burks    10.0       SG  24.0    6-6   214.0      Colorado
Utah Jazz      Dante Exum    11.0       PG  20.0    6-6   190.0           NaN
Utah Jazz  Derrick Favors    15.0       PF  24.0   6-10   265.0  Georgia Tech
Utah Jazz     Rudy Gobert    27.0        C  23.0    7-1   245.0           NaN
Utah Jazz  Gordon Hayward    20.0       SF  26.0    6-8   226.0        Butler
Utah Jazz     Rodney Hood     5.0       SG  23.0    6-8   206.0          Duke
Utah Jazz      Joe Ingles     2.0       SF  28.0    6-8   226.0           NaN
Utah Jazz   Chris Johnson    23.0       SF  26.0    6-6   206.0        Dayton
Utah Jazz      Trey Lyles    41.0       PF  20.0   6-10   234.0      Kentucky
Utah Jazz    Shelvin Mack     8.0       PG  26.0    6-3   203.0        Butler
Utah Jazz       Raul Neto    25.0       PG  24.0    6-1   179.0           NaN
Utah Jazz    Tibor Pleiss    21.0        C  26.0    7-3   256.0           NaN
Utah Jazz     Jeff Withey    24.0        C  26.0    7-0   231.0        Kansas

               Salary
Team
Utah Jazz   4775000.0
Utah Jazz   2658240.0
Utah Jazz   9463484.0
Utah Jazz   3777720.0
Utah Jazz  12000000.0
Utah Jazz   1175880.0
Utah Jazz  15409570.0
Utah Jazz   1348440.0
Utah Jazz   2050000.0
Utah Jazz    981348.0
Utah Jazz   2239800.0
Utah Jazz   2433333.0
Utah Jazz    900000.0
Utah Jazz   2900000.0
Utah Jazz    947276.0

In [33]:
#Extracting rows between two index labels
data = pd.read_csv("nba.csv", index_col ="Name") 
  
# retrieving rows by loc method 
rows = data.loc["Avery Bradley":"Isaiah Thomas"] 
  
# checking data type of rows 
print(type(rows)) 
  
# display 
print(rows)

<class 'pandas.core.frame.DataFrame'>
                           Team  Number Position   Age Height  Weight  \
Name
Avery Bradley    Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder      Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland     Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter      Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko    Boston Celtics     8.0       PF  29.0   6-10   231.0
Amir Johnson     Boston Celtics    90.0       PF  29.0    6-9   240.0
Jordan Mickey    Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk     Boston Celtics    41.0        C  25.0    7-0   238.0
Terry Rozier     Boston Celtics    12.0       PG  22.0    6-2   190.0
Marcus Smart     Boston Celtics    36.0       PG  22.0    6-4   220.0
Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
Isaiah Thomas    Boston Celtics     4.0       PG  27.0    5-9   185.0

                           College      Salary
Name
Avery Bradley                Texas   7730337.0
Jae Crowder              Marquette   6796117.0
John Holland     Boston University         NaN
R.J. Hunter          Georgia State   1148640.0
Jonas Jerebko                  NaN   5000000.0
Amir Johnson                   NaN  12000000.0
Jordan Mickey                  LSU   1170960.0
Kelly Olynyk               Gonzaga   2165160.0
Terry Rozier            Louisville   1824360.0
Marcus Smart        Oklahoma State   3431040.0
Jared Sullinger         Ohio State   2569260.0
Isaiah Thomas           Washington   6912869.0

In [34]:
#iloc vs loc
data = pd.read_csv('nba.csv')
 
# retrieving rows by loc method
row1 = data.loc[3]
 
# retrieving rows by iloc method
row2 = data.iloc[3]
 
# checking if values are equal
print(row1 == row2)

Name        True
Team        True
Number      True
Position    True
Age         True
Height      True
Weight      True
College     True
Salary      True
Name: 3, dtype: bool

In [35]:
#iloc v2
# Creating a sample DataFrame
data = pd.DataFrame({
    'Name': ['Geek1', 'Geek2', 'Geek3', 'Geek4', 'Geek5'],
    'Age': [25, 30, 22, 35, 28],
    'Salary': [50000, 60000, 45000, 70000, 55000]
})
 
# Setting 'Name' column as the index for clarity
data.set_index('Name', inplace=True)
 
# Displaying the original DataFrame
print("Original DataFrame:")
print(data)
 
# Extracting a single row by index
row_alice = data.iloc[0, :]
print("\nExtracted Row (Geek1):")
print(row_alice)
 
# Extracting multiple rows using a slice
rows_geek2_to_geek3 = data.iloc[1:3, :]
print("\nExtracted Rows (Geek2 to Geek3):")
print(rows_geek2_to_geek3)

Original DataFrame:
       Age  Salary
Name
Geek1   25   50000
Geek2   30   60000
Geek3   22   45000
Geek4   35   70000
Geek5   28   55000

Extracted Row (Geek1):
Age          25
Salary    50000
Name: Geek1, dtype: int64

Extracted Rows (Geek2 to Geek3):
       Age  Salary
Name
Geek2   30   60000
Geek3   22   45000

In [36]:
#STR SLICING

In [37]:
data = pd.read_csv("nba.csv")  
    
# removing null values to avoid errors  
data.dropna(inplace = True)  
  
# start stop and step variables 
start, stop, step = 0, -2, 1
  
# converting to string data type 
data["Salary"]= data["Salary"].astype(str) 
  
# slicing till 2nd last element 
data["Salary (int)"]= data["Salary"].str.slice(start, stop, step) 
  
# display 
print(data.head(10))

               Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0

           College     Salary Salary (int)
0            Texas  7730337.0      7730337
1        Marquette  6796117.0      6796117
3    Georgia State  1148640.0      1148640
6              LSU  1170960.0      1170960
7          Gonzaga  2165160.0      2165160
8       Louisville  1824360.0      1824360
9   Oklahoma State  3431040.0      3431040
10      Ohio State  2569260.0      2569260
11      Washington  6912869.0      6912869
12      Ohio State  3425510.0      3425510

In [38]:
data = pd.read_csv("nba.csv")
    
# removing null values to avoid errors  
data.dropna(inplace = True)  
  
# start stop and step variables 
start, stop, step = 0, -2, 2
  
# slicing till 2nd last element 
data["Name"]= data["Name"].str.slice(start, stop, step) 
  
# display 
print(data.head(10))

       Name            Team  Number Position   Age Height  Weight  \
0    AeyBal  Boston Celtics     0.0       PG  25.0    6-2   180.0
1     JeCod  Boston Celtics    99.0       SF  25.0    6-6   235.0
3     RJ ut  Boston Celtics    28.0       SG  22.0    6-5   185.0
6    Jra ik  Boston Celtics    55.0       PF  21.0    6-8   235.0
7     KlyOy  Boston Celtics    41.0        C  25.0    7-0   238.0
8     TryRz  Boston Celtics    12.0       PG  22.0    6-2   190.0
9     Mru m  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  JrdSlig  Boston Celtics     7.0        C  24.0    6-9   260.0
11   Iaa hm  Boston Celtics     4.0       PG  27.0    5-9   185.0
12    Ea un  Boston Celtics    11.0       SG  27.0    6-7   220.0

           College     Salary
0            Texas  7730337.0
1        Marquette  6796117.0
3    Georgia State  1148640.0
6              LSU  1170960.0
7          Gonzaga  2165160.0
8       Louisville  1824360.0
9   Oklahoma State  3431040.0
10      Ohio State  2569260.0
11      Washington  6912869.0
12      Ohio State  3425510.0

In [39]:
#COLUMN SLICES

In [40]:
df1 = pd.DataFrame({"a": [1, 2, 3, 4, 5, 6, 7], 
                    "b": [2, 3, 4, 2, 3, 4, 5], 
                    "c": [3, 4, 5, 2, 3, 4, 5], 
                    "d": [4, 5, 6, 2, 3, 4, 5], 
                    "e": [5, 6, 7, 2, 3, 4, 5]})
 
print(df1)

df2 = df1.reindex(columns = ['c','b'])
print()
print(df2)

df2 = df1.loc[:, "b":"d":2]
print()
print(df2)

df2 = df1.loc[:, "c":"e":1]
print()
print(df2)

df2 = df1.iloc[:, 1:3:1]
print()
print(df2)

df2 = df1.iloc[:, 0:3:2]
print()
print(df2)

   a  b  c  d  e
0  1  2  3  4  5
1  2  3  4  5  6
2  3  4  5  6  7
3  4  2  2  2  2
4  5  3  3  3  3
5  6  4  4  4  4
6  7  5  5  5  5

   c  b
0  3  2
1  4  3
2  5  4
3  2  2
4  3  3
5  4  4
6  5  5

   b  d
0  2  4
1  3  5
2  4  6
3  2  2
4  3  3
5  4  4
6  5  5

   c  d  e
0  3  4  5
1  4  5  6
2  5  6  7
3  2  2  2
4  3  3  3
5  4  4  4
6  5  5  5

   b  c
0  2  3
1  3  4
2  4  5
3  2  2
4  3  3
5  4  4
6  5  5

   a  c
0  1  3
1  2  4
2  3  5
3  4  2
4  5  3
5  6  4
6  7  5

In [41]:
#APPLY

In [42]:
#Applying User-Defined Function to Every Row of Pandas DataFrame
# Function to add
def add_values(row):
    return row['A'] + row['B'] + row['C']
 
def main():
    # Create a dictionary with three fields each
    data = {
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
    print("Original DataFrame:\n", df)
 
    # Apply the user-defined function to every row
    df['add'] = df.apply(add_values, axis=1)
 
    print('\nAfter Applying Function: ')
    # Print the new DataFrame
    print(df)
 
if __name__ == '__main__':
    main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [43]:
#Apply Lambda to Every Row of DataFrame

In [44]:
def main():
    # create a dictionary with
    # three fields each
    data = {
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
    print("Original DataFrame:\n", df)
 
    df['add'] = df.apply(lambda row: row['A'] + row['B'] + row['C'], axis=1)
 
    print('\nAfter Applying Function: ')
    # printing the new dataframe
    print(df)
 
if __name__ == '__main__':
    main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [45]:
#Apply NumPy.sum() to Every Row
def main():
    # create a dictionary with
    # five fields each
    data = {
        'A': [1, 2, 3],
        'B': [4, 5, 6],
        'C': [7, 8, 9]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
    print("Original DataFrame:\n", df)
 
    # applying function to each row in the dataframe
    # and storing result in a new column
    df['add'] = df.apply(np.sum, axis=1)
 
    print('\nAfter Applying Function: ')
    # printing the new dataframe
    print(df)
 
if __name__ == '__main__':
    main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [46]:
# Normalizing DataFrame Column Values Using Custom Function in Pandas
def normalize(x, y):
    x_new = ((x - np.mean([x, y])) /
             (max(x, y) - min(x, y)))
 
    # print(x_new)
    return x_new
 
def main():
    # create a dictionary with three fields each
    data = {
        'X': [1, 2, 3],
        'Y': [45, 65, 89]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
    print("Original DataFrame:\n", df)
 
    df['X'] = df.apply(lambda row: normalize(row['X'],
                                             row['Y']), axis=1)
 
    print('\nNormalized:')
    print(df)
 
if __name__ == '__main__':
    main()

Original DataFrame:
    X   Y
0  1  45
1  2  65
2  3  89

Normalized:
     X   Y
0 -0.5  45
1 -0.5  65
2 -0.5  89

In [47]:
# Applying Range Generation Function to DataFrame Rows in Pandas
pd.options.mode.chained_assignment = None
 
# Function to generate range
 
def generate_range(n):
 
    # printing the range for eg:
    # input is 67 output is 60-70
    n = int(n)
 
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
 
    return str(str(lower_limit) + '-' + str(upper_limit))
 
 
def replace(row):
    for i, item in enumerate(row):
 
        # updating the value of the row
        row[i] = generate_range(item)
    return row
 
def main():
    # create a dictionary with
    # three fields each
    data = {
        'A': [0, 2, 3],
        'B': [4, 15, 6],
        'C': [47, 8, 19]}
 
    # Convert the dictionary into DataFrame
    df = pd.DataFrame(data)
 
    print('Before applying function: ')
    print(df)
 
    # applying function to each row in
    # dataframe and storing result in a new column
    df = df.apply(lambda row: replace(row))
 
    print('After Applying Function: ')
    # printing the new dataframe
    print(df)
 
 
if __name__ == '__main__':
    main()

Before applying function:
   A   B   C
0  0   4  47
1  2  15   8
2  3   6  19
After Applying Function:
      A      B      C
0  0-10   0-10  40-50
1  0-10  10-20   0-10
2  0-10   0-10  10-20

/tmp/ipykernel_94196/1426715036.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)
/tmp/ipykernel_94196/1426715036.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)
/tmp/ipykernel_94196/1426715036.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '40-50' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = generate_range(item)

In [48]:
#Series apply

In [49]:
# Creating the Series 
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio']) 
  
# Create the Index 
index_ = ['City 1', 'City 2', 'City 3', 'City 4', 'City 5']  
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 


result = sr.apply(lambda x : 'Montreal' if x =='Rio' else x ) 
  
# Print the result 
print(result) 
'''
'''
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None]) 
  
# Create the Index 
# apply yearly frequency 
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='YE') 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 


result = sr.apply(lambda x : True if x>30 else False) 
  
# Print the result 
print(result)

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5         Rio
dtype: object
City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
City 5    Montreal
dtype: object
2010-12-31 08:45:00    11.0
2011-12-31 08:45:00    21.0
2012-12-31 08:45:00     8.0
2013-12-31 08:45:00    18.0
2014-12-31 08:45:00    65.0
2015-12-31 08:45:00    18.0
2016-12-31 08:45:00    32.0
2017-12-31 08:45:00    10.0
2018-12-31 08:45:00     5.0
2019-12-31 08:45:00    32.0
2020-12-31 08:45:00     NaN
Freq: YE-DEC, dtype: float64
2010-12-31 08:45:00    False
2011-12-31 08:45:00    False
2012-12-31 08:45:00    False
2013-12-31 08:45:00    False
2014-12-31 08:45:00     True
2015-12-31 08:45:00    False
2016-12-31 08:45:00     True
2017-12-31 08:45:00    False
2018-12-31 08:45:00    False
2019-12-31 08:45:00     True
2020-12-31 08:45:00    False
Freq: YE-DEC, dtype: bool

In [50]:
#AGGREGATE

In [3]:
df = pd.read_csv("nba.csv") 
  
# printing the first 10 rows of the dataframe 
print(df[:10])
df = df.iloc[:,-1:]
print(df[:10])
print(df.aggregate(['sum', 'min']))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0
       Salary
0   7730337.0
1   6796117.0
2         NaN
3   1148640.0
4   5000000.0
5  12000000.0
6   1170960.0
7   2165160.0
8   1824360.0
9   3431040.0
           Salary
sum  2.159837e+09
min  3.088800e+04

In [4]:
df = pd.read_csv("nba.csv") 
  
# We are going to find aggregation for these columns 
print(df.aggregate({"Number":['sum', 'min'], 
              "Age":['max', 'min'], 
              "Weight":['min', 'sum'],  
              "Salary":['sum']}))

     Number   Age    Weight        Salary
sum  8079.0   NaN  101236.0  2.159837e+09
min     0.0  19.0     161.0           NaN
max     NaN  40.0       NaN           NaN

In [52]:
#MEAN

In [53]:
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                "B":[5, 2, 54, 3, 2], 
                "C":[20, 16, 7, 3, 8], 
                "D":[14, 3, 17, 2, 6]}) 
  
# Print the dataframe 
print(df) 

# Even if we do not specify axis = 0, 
# the method will return the mean over 
# the index axis by default 
print(df.mean(axis = 1))

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6
0    12.75
1     6.25
2    20.75
3    13.00
4     4.25
dtype: float64

In [54]:
# Creating the dataframe 
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                "B":[7, 2, 54, 3, None], 
                "C":[20, 16, 11, 3, 8],
                "D":[14, 3, None, 2, 6]}) 
  
# skip the Na values while finding the mean 
print(df.mean(axis = 1, skipna = True))

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [55]:
#SERIES MEAN

In [56]:
sr = pd.Series([10, 25, 3, 25, 24, 6]) 
  
# Create the Index 
index_ = ['Coca Cola', 'Sprite', 'Coke', 'Fanta', 'Dew', 'ThumbsUp'] 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 


# return the mean 
result = sr.mean() 
  
# Print the result 
print(result)

Coca Cola    10
Sprite       25
Coke          3
Fanta        25
Dew          24
ThumbsUp      6
dtype: int64
15.5

In [57]:
# Creating the Series

In [58]:
#SEIRES VALUES_COUNTS

In [59]:
# Creating the Series 
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Chicago', 'Lisbon']) 
  
# Print the series 
print(sr) 
# find the value counts 
print(sr.value_counts() )
# Creating the Series 
sr = pd.Series([100, 214, 325, 88, None, 325, None, 325, 100]) 
# Print the series 
print(sr)

0    New York
1     Chicago
2     Toronto
3      Lisbon
4         Rio
5     Chicago
6      Lisbon
dtype: object
Chicago     2
Lisbon      2
New York    1
Toronto     1
Rio         1
Name: count, dtype: int64
0    100.0
1    214.0
2    325.0
3     88.0
4      NaN
5    325.0
6      NaN
7    325.0
8    100.0
dtype: float64

In [60]:
#INDEX VALUE_COUNTS

In [61]:
# Creating the index
idx = pd.Index(['Harry', 'Mike', 'Arther', 'Nick',
                'Harry', 'Arther'], name ='Student')
 
# Print the Index
print(idx)
# find the count of unique values in the index
print(idx.value_counts())

Index(['Harry', 'Mike', 'Arther', 'Nick', 'Harry', 'Arther'], dtype='object', name='Student')
Student
Harry     2
Arther    2
Mike      1
Nick      1
Name: count, dtype: int64

In [62]:
#Dataframe.assign() on a Single Column

In [63]:
values= [['Rohan',455],['Elvish',250],['Deepak',495],
         ['Soni',400],['Radhika',350],['Vansh',450]] 
 
# creating a pandas dataframe
df = pd.DataFrame(values,columns=['Name','Total_Marks'])
 
# Applying lambda function to find 
# percentage of 'Total_Marks' column 
# using df.assign()
df = df.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))
 
# displaying the data frame
print(df)

      Name  Total_Marks  Percentage
0    Rohan          455        91.0
1   Elvish          250        50.0
2   Deepak          495        99.0
3     Soni          400        80.0
4  Radhika          350        70.0
5    Vansh          450        90.0

In [64]:
#Dataframe.assign() on Multiple Columns
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'])
 
# Applying lambda function to find
# the product of 3 columns using
# df.assign()
df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
 
# printing dataframe
print(df)

   Field_1  Field_2  Field_3  Product
0       15      2.5      100   3750.0
1       20      4.5       50   4500.0
2       25      5.2       80  10400.0
3       45      5.8       48  12528.0
4       40      6.3       70  17640.0
5       41      6.4       90  23616.0
6       51      2.3      111  13020.3

In [65]:
#Dataframe.apply() on a Single Row
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90], 
               [51, 2.3, 111]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
 
 
# Apply function numpy.square() to square
# the values of one row only i.e. row 
# with index name 'd'
df = df.apply(lambda x: np.square(x) if x.name == 'd' else x, axis=1)
 
 
# printing dataframe
print(df)

   Field_1  Field_2  Field_3
a     15.0     2.50    100.0
b     20.0     4.50     50.0
c     25.0     5.20     80.0
d   2025.0    33.64   2304.0
e     40.0     6.30     70.0
f     41.0     6.40     90.0
g     51.0     2.30    111.0

In [66]:
#Dataframe.apply() on Multiple Rows
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
               [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
               [51, 2.3, 111]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
 
 
# Apply function numpy.square() to square 
# the values of 3 rows only i.e. with row
# index name 'a', 'e' and 'g' only
df = df.apply(lambda x: np.square(x) if x.name in [
              'a', 'e', 'g'] else x, axis=1)
 
# printing dataframe
print(df)

   Field_1  Field_2  Field_3
a    225.0     6.25  10000.0
b     20.0     4.50     50.0
c     25.0     5.20     80.0
d     45.0     5.80     48.0
e   1600.0    39.69   4900.0
f     41.0     6.40     90.0
g   2601.0     5.29  12321.0

In [67]:
#Lambda Function on Multiple Rows and Columns Simultaneously
# creating and initializing a nested list
values_list = [[1.5, 2.5, 10.0], [2.0, 4.5, 5.0], [2.5, 5.2, 8.0],
               [4.5, 5.8, 4.8], [4.0, 6.3, 70], [4.1, 6.4, 9.0],
               [5.1, 2.3, 11.1]]
 
# creating a pandas dataframe
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
 
 
# Apply function numpy.square() to square 
# the values of 2 rows only i.e. with row
# index name 'b' and 'f' only
df = df.apply(lambda x: np.square(x) if x.name in ['b', 'f'] else x, axis=1)
 
# Applying lambda function to find product of 3 columns
# i.e 'Field_1', 'Field_2' and 'Field_3'
df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
 
 
# printing dataframe
print(df)

   Field_1  Field_2  Field_3     Product
a     1.50     2.50     10.0     37.5000
b     4.00    20.25     25.0   2025.0000
c     2.50     5.20      8.0    104.0000
d     4.50     5.80      4.8    125.2800
e     4.00     6.30     70.0   1764.0000
f    16.81    40.96     81.0  55771.5456
g     5.10     2.30     11.1    130.2030